.register {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.register .card {
  width: 100%; /* Ajustez la largeur à 100% pour une mise en page responsive */
  max-width: 800px; /* Ajoutez une largeur maximale pour éviter qu'elle ne devienne trop large */
  display: flex;
  flex-direction: row-reverse; /* Inverser la direction pour déplacer .left à droite */
  background-color: white;
  border-radius: 10px;
  min-height: 600px;
  overflow: hidden;
}

.register .left {
  flex: 1;
  background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
    url("https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600")
      center;
  background-size: cover;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;

  h1 {
    font-size: 36px; /* Ajustez la taille de la police pour les écrans plus petits */
    line-height: 36px; /* Ajustez la hauteur de ligne pour les écrans plus petits */
  }

  /* Supprimez le span vide */

  button {
    width: 100%; /* Ajustez la largeur à 100% pour remplir l'espace */
    padding: 10px;
    border: none;
    background-color: white;
    color: rebeccapurple;
    font-weight: bold;
    cursor: pointer;
  }
}

.register .right {
  flex: 1;
  padding: 20px; /* Ajustez l'espacement pour les écrans plus petits */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Ajustez l'espacement pour les écrans plus petits */
  justify-content: center;

  h1 {
    color: #555;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Ajustez l'espacement pour les écrans plus petits */

    input {
      border: none;
      border-bottom: 1px solid lightgray;
      padding: 10px; /* Ajustez le rembourrage pour les écrans plus petits */
    }

    button {
      width: 100%; /* Ajustez la largeur à 100% pour remplir l'espace */
      padding: 10px;
      border: none;
      background-color: #938eef;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  /* Appliquez ces styles pour les écrans d'une largeur maximale de 768 pixels */
  .register .card {
    flex-direction: column; /* Changez la direction pour empiler les éléments */
  }

  .register .left {
    padding: 20px; /* Ajustez l'espacement pour les écrans plus petits */
  }

  .register .right {
    padding: 20px; /* Ajustez l'espacement pour les écrans plus petits */
  }
}
